<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.squidarcade">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SquidArcade">
        <activity
            android:name=".home_page_test"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:name=".MainActivitySingleplayer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Marbles.MarblesMain"
            android:exported="false" />
        <activity
            android:name=".Singleplayer"
            android:exported="false" />
        <activity
            android:name=".redLightGreenLight"
            android:exported="false" />
    </application>

</manifest>